<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ระบบจัดการฐานข้อมูลผู้ใช้</title>
  <%- include('./font') %>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="icon" href="https://cdn-icons-png.freepik.com/512/6144/6144388.png?ga=GA1.1.512366322.1722083948">
</head>

<body>
  <div class="p-6 bg-card">
    <h2 class="text-xl prompt-medium text-foreground text-center">ระบบจัดการฐานข้อมูลผู้ใช้</h2>
    <table class="min-w-full divide-y divide-border mt-6 table-auto">
      <thead class="bg-background">
        <tr class="text-left">
          <th class="prompt-medium py-3 px-4">รหัสประจำตัว</th>
          <th class="prompt-medium py-3 px-4">ชื่อ</th>
          <th class="prompt-medium py-3 px-4">อีเมล</th>
          <th class="prompt-medium py-3 px-4">สถานะ</th>

          <th class="prompt-medium py-3 px-4"></th>
        </tr>
      </thead>
      <tbody class="bg-card divide-y divide-border">
        <% data.forEach(function(user) { %>
        <tr class="prompt-light hover:bg-gray-100">
          <td class="py-3 px-4"><%= user.id %></td>
          <td class="py-3 px-4"><%= user.name %></td>
          <td class="py-3 px-4"><%= user.email %></td>
          <td class="py-3 px-4"><%= user.role %></td>
          <td class="py-3 px-4">
            <a href="/admin/user/edit/<%= user.id %>" class="text-blue-500 hover:underline">แก้ไข</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>
