<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Deck</title>
    <link rel="icon" href="https://cdn-icons-png.freepik.com/512/9169/9169949.png?ga=GA1.1.512366322.1722083948">

    <script src="https://cdn.tailwindcss.com"></script>
    <%- include('./font') %>

        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
            }

            .container {
                background-color: #fff;
                border-radius: 10px;
                max-width: 600px;
                width: 100%;
                /* text-align: center;   */
            }

            h1 {
                margin-bottom: 20px;
                color: #333;
            }

            form {
                margin-bottom: 20px;
            }

            .btn {
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
            }

            .btn:hover {
                background-color: #0056b3;
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin: 20px 0;
            }

            table,
            th,
            td {
                border: 1px solid #ddd;
            }

            th,
            td {
                padding: 10px;
                text-align: left;
            }

            th {
                background-color: #f2f2f2;
            }
        </style>
</head>

<body>

    <div class="container">
        <%- include('./partials/header') %>
            <p class="py-5 prompt-medium text-center text-3xl text-gray-900">
                ประวัติการจอง
            </p>

            <% if (noBookings) { %>
                <div class="flex flex-col items-center justify-center mt-7 ">
                    <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" alt="No bookings icon"
                        class="w-24 h-24 mb-4" />
                    <p class="text-gray-800 text-xl prompt-medium">ไม่พบประวัติการจอง</p>
                </div>
                <% } else if (bookings.length> 0) { %>
                    <% bookings.forEach(booking=> { %>
                        <a href="/users/view_booking/<%= booking.id %>">
                            <div class="py-6">

                                <div
                                    class="max-w-2xl mx-auto bg-zinc-100 shadow-md rounded-md p-4 flex items-center transition duration-200 hover:scale-105">
                                    <div>
                                        <p class="text-start prompt-medium text-gray-800">
                                            หมายเลขการจอง: #<%= booking.id %>
                                        </p>
                                        <div class="flex items-center prompt-medium text-gray-800">
                                            <img src="https://cdn-icons-png.freepik.com/512/6829/6829879.png?uid=R154930515&ga=GA1.1.1806679622.1698741403"
                                                alt="mobile icon" class="w-4 h-4 mr-2" />
                                            <span class="prompt-medium text-gray-800">รายละเอียดเพิ่มเติม: &nbsp;</span>
                                            <span>
                                                <%= booking.service_details %>
                                            </span>
                                        </div>
                                        <div class="flex items-center prompt-medium text-gray-800">
                                            <img src="https://cdn-icons-png.flaticon.com/512/10691/10691802.png"
                                                alt="mobile icon" class="w-4 h-4 mr-2" />
                                            <span class="prompt-medium text-gray-800">วันนัดหมาย: &nbsp;</span>
                                            <span>
                                                <% const options={ year: 'numeric' , month: 'long' , day: 'numeric' };
                                                    const thaiDate=new
                                                    Date(booking.booking_date).toLocaleDateString('th-TH', options); %>
                                                    <%= thaiDate %>
                                                        เวลา <%= booking.booking_time %> น.
                                            </span>
                                        </div>
                                        <div class="flex items-center prompt-medium text-gray-800">
                                            <img src="https://cdn-icons-png.freepik.com/512/5644/5644717.png?uid=R154930515&ga=GA1.1.1806679622.1698741403"
                                                alt="mobile icon" class="w-4 h-4 mr-2" />
                                            <span class="prompt-medium text-gray-800">สถานะ: &nbsp;</span>
                                            <span class="">

                                                <% if (booking.payment_status==='รอการตรวจสอบ' && booking.status
                                                    !=='ยกเลิกการจอง' ) { %>
                                                    รอการตรวจสอบ
                                                    <% } else if (booking.payment_status==='ยืนยัน' ) { %>
                                                        <%= booking.status %>
                                                            <% } else if (booking.payment_status==='รอการตรวจสอบ' &&
                                                                booking.status==='ยกเลิกการจอง' ) { %>
                                                                <%= booking.status %>
                                                                    <% } %>
                                            </span>

                                            <!-- <span class="prompt-medium text-gray-800">สถานะ: &nbsp;</span>
                                            <span class="">
                                                <%= booking.status %>
                                            </span> -->
                                        </div>
                                    </div>
                                    <div class="ml-auto flex items-center prompt-medium text-gray-800">

                                        <% if (booking.status==='ยืนยันงาน' || booking.status==='ยืนยันการรับงาน' ) { %>
                                            <div class="group relative">
                                                <button>
                                                    <svg stroke-linejoin="round" stroke-linecap="round"
                                                        stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                                                        height="44" width="44" xmlns="http://www.w3.org/2000/svg"
                                                        class="w-8 hover:scale-125 duration-200 hover:stroke-blue-500"
                                                        fill="none">
                                                        <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
                                                        <path d="M8 9h8"></path>
                                                        <path d="M8 13h6"></path>
                                                        <path
                                                            d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z">
                                                        </path>
                                                    </svg>
                                                </button>
                                                <span
                                                    class="absolute -top-9 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 px-3 rounded-lg border border-gray-300 bg-white py-2 text-sm font-bold shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">
                                                    รีวิว
                                                    <span> </span></span>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <% }) %>
                            <% } %>
    </div>
</body>


</html>