<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail for ID: <%= detail.id %></h1>
<p>Team Name: <%= detail.team_name %></p>
<p>Task Name: <%= detail.task_name %></p>
<p>Job Scope: <%= detail.job_scope %></p>
<p>Status: <%= detail.status %></p>
<a href="/users/roofer">Back to List</a>

</body>
</html>