<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skill Deck</title>
  <link rel="icon" href="https://cdn-icons-png.freepik.com/512/9169/9169949.png?ga=GA1.1.512366322.1722083948">
<%- include('./font') %>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
  <% if (errors && errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.message %></li>
      <% }) %>
    </ul>
  <% } %>

  <%- include('./partials/header') %>

  <form action="/profile/edit" method="POST">

<section>
  <div class="bg-white relative items-center w-full px-5 py-10 mx-auto md:px-12 lg:px-20 max-w-7xl ">
    <div class="w-full max-w-md mx-auto md:max-w-sm md:px-0 md:w-96 sm:px-4">
      <div class="flex flex-col">
        <div>
          <h2 class="text-3xl text-center prompt-medium">แก้ไขข้อมูล</h2>
        </div>
      </div>
      <form>
        <div class="mt-4 space-y-6">
          <div class="col-span-full">
            <label class="block mb-3 text-sm prompt-medium text-gray-800"> ชื่อผู้ใช้   </label>
            <input type="text" id="name" name="name" value="<%= user.name %>" class="block w-full px-6 py-3 text-black bg-white border border-gray-500 rounded-full appearance-none placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm">
          </div>
          <div class="col-span-full">
            <label class="block mb-3 text-sm prompt-medium text-gray-800"> อีเมล   </label>
            <input type="email" id="email" name="email" value="<%= user.email %>" class="block w-full px-6 py-3 text-black bg-white border border-gray-500 rounded-full appearance-none placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm">
          </div>
          <div class="col-span-full">
            <label class="block mb-3 text-sm prompt-medium text-gray-800"> รหัสผ่าน   </label>
            <input type="password" placeholder="******"  id="password" name="password" class="block w-full px-6 py-3 text-black bg-white border border-gray-500 rounded-full appearance-none placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm">
          </div>
          <div class="col-span-full">
            <label class="block mb-3 text-sm prompt-medium text-gray-800"> ยืนยันรหัสผ่าน  </label>
            <input type="password" placeholder="******" id="password2" name="password2" class="block w-full px-6 py-3 text-black bg-white border border-gray-500 rounded-full appearance-none placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm">
          </div>

          <div class="col-span-full">
            <button type="submit" class="prompt-medium items-center justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none focus-visible:outline-black text-sm focus-visible:ring-black">บันทึก  </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

    <!--  
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= user.name %>">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%= user.email %>">
    </div>
    <div>
      <label for="password">Password (leave blank to keep current):</label>
      <input type="password" id="password" name="password">
    </div>
    <div>
      <label for="password2">Confirm Password:</label>
      <input type="password" id="password2" name="password2">
    </div>
    <button type="submit">Update Profile</button>
  </form>
  <a href="/users/dashboard">Back to Dashboard</a>-->
</body>
</html>
